
@{
    ViewBag.Title = "RegistrationView";
}


<div class="container">
    <h2>Registration View</h2><br>
    <p>Please select your user type:</p>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User Type
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="AdminRegistration">NGO</a><br>
            <a class="dropdown-item" href="RestaurantRegistration">Restaurant</a><br>
            <a class="dropdown-item" href="EmployeeRegistration">Employee</a>
        </div>
    </div>
</div>